body {
    background: black;
    background-size: 50%;
    font-family:'Courier New', Courier, monospace;
}

.a {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: relative;
    font-weight:normal;
}

.center {
    text-align: center;
}

.justify {
    display: block;
    text-align: justify; 
}

.silly {
    -webkit-transform: scale(2,1);
    -moz-transform: scale(2,1);
    -ms-transform: scale(2,1);
    -o-transform: scale(2,1);
    transform: scale(2,1);
}

.silly-vertical {
    -webkit-transform: scale(1,1.5);
    -moz-transform: scale(1,1.5);
    -ms-transform: scale(1,1.5);
    -o-transform: scale(1,1.5);
    transform: scale(1,1.5);
}

.invert {
    background:rgb(0, 0, 0);
    filter: invert(1);
    mix-blend-mode:difference;
    color: rgb(255, 255, 255);
    
    font-family:monospace;
    font-size: 3vh;
}

.bottom {
    display: block;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.big {
    font-size: 5vw;
}