body {
    background: black;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}

a {
    color: rgb(0, 0, 0);
    background-color: rgb(226, 226, 226);
    position: relative;
}

.right {
    display: block;
    text-align-last: right; 
}
